---
import ContactPage from "../components/ContactPage.astro";
import Footer from "../components/Footer.astro";
import MainPage from "../components/MainPage.astro";
import ResultsPage from "../components/ResultsPage.astro";
import Title from "../components/ui/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cepos - Soluciones Integrales Perú">
  <main>
    <MainPage />

    <section class="py-52">
      <div class="flex flex-col text-center items-center max-w-[900px] mx-auto">
        <div class="flex flex-col gap-6 items-center">
          <img src="/about-logo.png" alt="about-logo" class="h-14 w-14" />
          <Title title="ACERCA DE APPCEPOS" space="0" />
        </div>

        <p class="text-[#512A6F] text-3xl py-12">
          AppCepos reinventa la gestión para el ordenamiento vial, ofreciendo
          una solución completa, con equipamiento de CEPOS y la gestión
          inteligente a través de aplicaciones móviles. Nuestra solución
          integrada provee un equipamiento sencillo que facilita la operación al
          inspector de tránsito permitiéndole pasar más tiempo haciendo cumplir
          las normas, gracias a que la instalación y liberación de los CEPOS es
          rápida y fácil.
        </p>

        <p class="text-[#8790af] font-medium">2024</p>
      </div>
    </section>

    <section class="relative flex">
      <div class="relative bg-[#f5f6ff] py-32 w-7/12">
        <div class="pl-48 pr-20">
          <h5 class="text-[#8790af] text-sm font-medium mb-6">COMODIDAD</h5>
          <h3 class="text-3xl mb-9">Aplicacion amigable para el usuario</h3>
          <p class="leading-8 text-[#8790af]">
            La aplicación permite en solo 2 pasos identificar al infractor,
            obtener la información del propietario del vehiculo y activar el
            bloqueo virtual del dispositivo capturando la información
            georefernciada de la intervención.
          </p>
        </div>
      </div>

      <div class="absolute right-[20%] -top-[90px] z-10">
        <img
          src="/progress-phone.png"
          alt="progress-phone"
          class="h-full w-full"
        />
      </div>

      <div>
        <img src="/progress-bg.jpg" alt="progress-bg" />
      </div>
    </section>

    <section class="relative bg-[#512A6F] max-h-[800px]">
      <div class="flex flex-col pt-32 text-white">
        <h3 class="text-3xl text-center">Caracteristicas</h3>

        <div class="grid grid-cols-12 justify-center">
          <div class="col-span-1"></div>
          <div class="col-span-3 pt-20">
            <ul class="flex flex-col gap-16 pl-24">
              <li class="flex">
                <div
                  class="flex justify-center items-center w-[70px] h-[70px] bg-white rounded-full mr-7"
                >
                  <span class="lnr lnr-rocket z-10 text-black text-xl"></span>
                </div>
                <div>
                  <p class="text-lg mb-[10px]">Rápido</p>
                  <p>Manejo intuitivo</p>
                </div>
              </li>

              <li class="flex">
                <div
                  class="flex justify-center items-center w-[70px] h-[70px] bg-white rounded-full mr-7"
                >
                  <span class="lnr lnr-paperclip z-10 text-black text-xl"
                  ></span>
                </div>
                <div>
                  <p class="text-lg mb-[10px]">Instalación</p>
                  <p>De facil despliegue</p>
                </div>
              </li>

              <li class="flex">
                <div
                  class="flex justify-center items-center min-w-[70px] h-[70px] bg-white rounded-full mr-7"
                >
                  <span class="lnr lnr-cloud-download z-10 text-black text-xl"></span>
                </div>
                <div>
                  <p class="text-lg mb-[10px]">Solución en la nube</p>
                  <p>Información siempre al alcance.</p>
                </div>
              </li>
            </ul>
          </div>

          <div
            class="col-span-4 flex justify-center items-center translate-y-24"
          >
            <img
              src="/feature-image.png"
              alt="feature-image"
              class="w-[360px]"
            />
          </div>

          <div class="col-span-3 pt-20">
            <ul class="flex flex-col gap-16">
              <li class="flex">
                <div
                  class="flex justify-center items-center w-[70px] h-[70px] bg-white rounded-full mr-7"
                >
                  <span class="lnr lnr-clock z-10 text-black text-xl"></span>
                </div>
                <div>
                  <p class="text-lg mb-[10px]">Notificaciones</p>
                  <p>Manten a tu equipo informado</p>
                </div>
              </li>

              <li class="flex">
                <div
                  class="flex justify-center items-center w-[70px] h-[70px] bg-white rounded-full mr-7"
                >
                  <span class="lnr lnr-laptop-phone z-10 text-black text-xl"></span>
                </div>
                <div>
                  <p class="text-lg mb-[10px]">Adaptable</p>
                  <p>Desde cualquier dispositivo</p>
                </div>
              </li>

              <li class="flex">
                <div
                  class="flex justify-center items-center min-w-[70px] h-[70px] bg-white rounded-full mr-7"
                >
                  <span class="lnr lnr-cog z-10 text-black text-xl"></span>
                </div>
                <div>
                  <p class="text-lg mb-[10px]">Configurable</p>
                  <p>Integración con los sistemas de tu empresa</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-span-1"></div>
        </div>
      </div>
    </section>

    <ResultsPage />

    <ContactPage />

    <Footer />
  </main>
</Layout>

<!-- <main class="w-full h-screen flex items-center justify-center">
	<img src="/web-construction.png" alt="web-image" class="max-w-6xl"/>
</main> -->
