---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full h-screen flex items-center justify-center">
		<img src="/web-construction.png" alt="web-image" class="max-w-6xl"/>
	</main>
</Layout>

