<section class="bg-[#f5f6ff] py-5 border-t border-[#512A6F]">
    <div class="flex max-w-6xl mx-auto text-[#8790af]">
      <div class="px-4 w-2/5">
        <p>
          Copyright ©2024 Todos los derecho reservados | Soluciones
          Inteligentes y Consultoria SAC
        </p>
      </div>
      <div class="flex justify-end px-4 w-full">
        <ul class="flex">
          <li>
            <a href="#home" class="p-3">Home</a>
          </li>
          <li><a href="#home" class="p-3">Caracteristicas</a></li>
          <li><a href="#home" class="p-3">Contacto</a></li>
        </ul>
      </div>
    </div>
  </section>