<nav class="w-full flex py-5 px-12 text-lg text-white bg-transparent">
    <div>
      <img src="/logo.png" alt="logo" class="h-16 w-full" />
    </div>

    <div class="flex pl-60 w-full">
      <ul class="flex items-center gap-9 py-2">
        <li>
          <a href="" class="text-base font-semibold">Home</a>
        </li>
        <li>
          <a href="" class="text-base font-semibold">Acerca de</a>
        </li>
        <li>
          <a href="" class="text-base font-semibold">Caracteristicas</a>
        </li>
        <li>
          <a href="" class="text-base font-semibold"> Galeria</a>
        </li>
        <li>
          <a href="" class="text-base font-semibold">Resultados probados</a>
        </li>
        <li>
          <a href="" class="text-base font-semibold">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
